@import url( href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family='IBM Plex Serif'&display=swap");

.comment-container{
  padding: 7px;
}

.comment-title{
  margin-bottom: 8px;
  color: #999;
  font-weight: 600;
}

.comment-item{
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  background-color: #ffffe9;
  padding: 4px;
  border-radius: 5px;
  border-style: groove;
  border-width: 1px;
  border-color: #999;
}

.comment-item-user{
  font-weight: 600;
  font-size: 14px;
  display: flex;
  flex-direction: row;
}

.time-small-font{
  font-weight: 200;
  font-size: 12px;
  opacity: 0.7;
}

.comment-delete{
  margin-left: auto;
  background-color: #ffffe9;
  border: none;
}

.comment-delete:hover{
  cursor: pointer;
  transform: scale3d(1.2, 1.2, 1.2);
}

.comment-delete-button{
  width: 10px;
  height: 10px;
  background-color: #ffffe9;
  color: #c00;
  border: none;
  font-weight: 500;
  font-size: 15px;
}

.comment-item-comment{
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 5px;
}