@import url( href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family='IBM Plex Serif'&display=swap");

.homepage-main {
    display: grid;
    grid-template-columns: 1fr 1.2fr 1fr;
}

.homepage-centercolumn{
    border-left: 2px solid rgba(201, 195, 195, 0.9);
    border-right: 2px solid rgba(201, 195, 195, 0.9);
    border-style: inset;
    height: 180%;
}