@import url( href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family='IBM Plex Serif'&display=swap");

.sidebar-actions {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.dashboard-link, .all-expenses-link {
    display: flex;
    flex-direction: row;
    // justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    margin-right: 5px;
    margin-top: 5px;
    text-align: left;
}

.dashboard img, .all-expenses img {
    margin: 7px;
    width: 25px;
}

.dashboard-text {
    color: #48be9d;
    font-size: 17px;
    font-weight: bold;
}

.expense-text {
    color: #8c8b8b;
    font-size: 16px;
}

.add-friend{
    margin-top: 7px;
}

.friend-list {
    background-color: transparent;
    color: rgb(140, 137, 137);
    padding: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1 px;
    height: 35px;
}

.friend-list:hover {
    background-color: #e6e4e4;
}


.invisible-space {
    visibility: hidden;
}

.add-button {
    display: inline-flex;
    margin-left: auto;
}

.add-button:hover{
    cursor: pointer;
}

.add-button-plus {
    font-size: 17px;
    font-weight: bolder;
}

.add-button-add {
    font-size: 15px;
    margin: 3px;
}



// --------------------------
// friend_list.jsx
.friend-list-title {
    margin-top: 12px;
    margin-bottom: 5px;
    background-color: #f6f6f6;
    color: #ccc;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px;
}

.friends-list-wrd {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 11.5px;
  color: rgb(154, 150, 150);
  background-color: rgb(240, 235, 235);
  padding-left: 4px;
}

.friend-names {
  color:rgb(111, 108, 108);
}

.friend-delete-button{
  margin-left: 10px;
  margin-right: -5px;
  background-color: transparent;
  border: none;
}

.friend-delete-button:hover {
  cursor: pointer;
}

#delete-icon {
  margin-left: 10px;
  width: 13px;
}


.friend-link {
  text-decoration: none;
  color: rgb(240, 235, 235);
}

.friends-text {
  align-items: center;
  text-align: center;
  font-size: 13px;
  color:rgb(133, 131, 131);
}


.add-friend-form {
  border: 1px solid rgb(240, 235, 235);
  margin-top: 15px;
  height: 85px;
  width:167px;
}

.add-friend-wrd {
  color: white; 
  background-color: #5bc5a7;
  font-size: 16px;
  padding-top:4px;
  padding-bottom:4px;
  padding-left: 5px;
  // margin-left: 5px;
}
.users-index-box {
  font-weight: 500;
  font-size:14.5px;
  color: rgb(206, 202, 202);
  width: 156px;
  // padding-left: 3px;
  padding-right: 2px;
  margin: 6px;
  border: 1px solid rgb(240, 235, 235);
}

.users-index-box:focus {
    color:rgb(75, 74, 74)
}

.add-friend-submit {
  font-size: 12px;
  margin-left: 5px;
  color: rgb(159, 155, 155);
  background-color:  rgb(240, 235, 235);
  border: 1px solid rgb(240, 235, 235);
  padding: 3.5px; 
  border-radius: 2px;
}


.submit-button-add-friend{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.add-friend-submit:hover {
  cursor: pointer;
}

.question-hint-container {
  display: flex;
  flex-direction: column;
}

.add-friend-question {
  color: rgb(159, 155, 155);
  background-color:  rgb(240, 235, 235);
  border: 1px solid rgb(240, 235, 235);
}

.add-friend-question:hover + .friend-list-invisible {
  display: block;
  cursor: help;
}

.friend-list-invisible {
  display: none;
  position: absolute;
  // margin-top: 30px;
  margin-left: 50px;
  color: #8c8b8b;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  
}

.existing-users-text {
  color: rgb(94, 91, 91);
  font-size: 14px;
}

.friend-list-invisible-item {
  color: rgb(94, 91, 91);
  font-size: 12px;
  margin-top: 3px;
}