@import url( href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family='IBM Plex Serif'&display=swap");

.sidebar-actions {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.dashboard-link, .all-expenses-link, .friend-list{
    display: flex;
    flex-direction: row;
    // justify-content: flex-end;
    align-items: baseline;
    margin-left: auto;
    margin-right: 5px;
    margin-top: 5px;
    text-align: left;
}

.left-sidebar img {
    margin: 7px;
    width: 25px;
}

.dashboard-text {
    color: #48be9d;
    font-size: 17px;
    font-weight: bold;
}

.expense-text {
    color: #8c8b8b;
    font-size: 16px;
}

.add-friend{
    margin-top: 7px;
}

.friend-list {
    background-color: #f6f6f6;
    color: #ccc;
    padding: 3px;
}

.friend-list:hover {
    background-color: #e6e4e4;
}

.friends-text {
    font-size: 13px;
}

.invisible-space {
    visibility: hidden;
}

.add-button {
    display: inline-flex;
    margin-left: auto;
}

.add-button:hover{
    cursor: pointer;
}

.add-button-plus {
    font-size: 17px;
    font-weight: bolder;
}

.add-button-add {
    font-size: 15px;
    margin: 3px;
}



// --------------------------
// friend_list.jsx
.friend-list-title {
    margin-top: 12px;
    margin-bottom: 5px;
    background-color: #f6f6f6;
    color: #ccc;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px;
}

.friends-list-wrd {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 11.5px;
  color: rgb(154, 150, 150);
  background-color: rgb(240, 235, 235);
  padding-left: 4px;
}

.friend-names {
    color:rgb(111, 108, 108)
}

// -----
.friend-link {
  text-decoration: none;
  color: rgb(240, 235, 235);
}

.friends-list-head {
  background-color: rgb(240, 235, 235);
  width: 167px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 5px;
}

.friend-list-icon {
  width: 15px;
  margin-right: 2px;
}

.friend-list-box {
  display: flex;
  align-items: baseline;
  font-weight: 500;
  font-size:14.5px;
  color: rgb(240, 235, 235);

}

.add-friend-form {
  border: 1px solid rgb(240, 235, 235);
  // box-shadow: 1px 1px 1px $lighter-grey;
  margin-top: 15px;
  height: 85px;
  // display: flex;
  // padding: 3px;
  width:167px;
}

.add-friend-wrd {
  color: white; 
  background-color: #5bc5a7;
  font-size: 16px;
  padding-top:4px;
  padding-bottom:4px;
  padding-left: 5px;
  // margin-left: 5px;
}
.users-index-box {
  font-weight: 500;
  font-size:14.5px;
  color: rgb(240, 235, 235);
  width: 156px;
  // padding-left: 3px;
  padding-right: 2px;
  margin: 6px;
  border: 1px solid rgb(240, 235, 235);
}

.add-friend-submit {
  font-size: 12px;
  margin-left: 5px;
  color: rgb(159, 155, 155);
  background-color:  rgb(240, 235, 235);
  border: 1px solid rgb(240, 235, 235);
  padding: 3.5px; 
  border-radius: 2px;
}