@import url( href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family='IBM Plex Serif'&display=swap");
.homepage-nav {
  background-color: rgb(59, 213, 172);
}

.homepage-nav-elements {
  // margin-left: 100px;
  // margin-right: 100px;
  display: grid;
  grid-template-columns: 1fr 1.2fr 1fr;
}

.left-homepage-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 109px;
}

.homepage-nav-logo {
  width:30px; 
  margin-right: 3px;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.homepage-word-logo {
  color: rgba(245, 245, 245, 0.996);
  display: flex;
  flex-direction: row;
  font-family: 'IBM Plex Serif';
  font-size: 21px;
  font-weight: bolder;
  margin-bottom: 5px;
  margin-top: 0;
  margin-left: 8px;
  // margin-right: 20px;
}

.homepage-word-text{
  margin-top: 10px;
}

.right-homepage-nav {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-bottom: 5px;
  margin-left: 109px;
}

.account_icon {
  width: 30px;
  margin-top: 10px;
  border-radius: 50%;
  background-color: rgb(59, 213, 172);
}

.homepage-username {
  background-color: transparent;
  border: none;
  color: rgba(245, 245, 245, 0.996);
  font-family: 'IBM Plex Serif';
  font-size: 17px;
  font-weight: bold;
  // height: 35px;
  margin-top: 15px;
}
