@import url( href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family='IBM Plex Serif'&display=swap");

.center-nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    background-color: rgb(240, 236, 236);
}

.user-icon {
    width: 40px;
    padding: 10px;
}

.center-nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.center-nav-right{
    margin-left: auto;
}

.center-nav-left p{
    font-size: 24px;
    font-weight: bold;
}

.add-bill-button{
    background-color:rgb(255, 98, 0);
    border-radius: 8%;
    padding: 8px;
    margin-right: 4px;
}


.add-bill-button:hover {
    cursor: pointer;
    background-color: rgb(255, 68, 0);
}

.settle-up-button {
    background-color: #48be9d;
    border-radius: 8%;
    padding: 8px;
    margin-right: 12px;
}

.settle-up-button:hover {
    cursor: pointer;
    background-color: #45d8af;
}

.bill-form-text{
    color: whitesmoke;
    font-family: 'IBM Plex Serif';
    font-size: 15px;
    font-weight: bold;
}

