@import url( href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family='IBM Plex Serif'&display=swap");
.homepage-nav {
  background-color: rgb(59, 213, 172);
}

.homepage-nav-elements {
  // margin-left: 100px;
  // margin-right: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

.left-homepage-nav {
  display: flex;
  flex-direction: row;
}

.homepage-nav-logo {
  width:30px; 
  margin-right: 3px;
  margin-top: 5px;
}

.homepage-word-logo {
  color: rgba(245, 245, 245, 0.996);
  font-family: 'IBM Plex Serif';
  font-size: 21px;
  font-weight: bolder;
  margin-top: 20px;
  margin-left: 8px;
}

.right-homepage-nav {
  position: relative;
  margin-right: auto;
}


.homepage-logout-button {
  background-color: transparent;
  border: none;
  color: rgba(245, 245, 245, 0.996);
  font-family: 'IBM Plex Serif';
  font-size: 18px;
  font-weight: bold;
  height: 35px;
  margin-top: 15px;
  width: 95px;

}

.homepage-logout-button:hover {
  cursor: pointer;
}