@import url( href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family='IBM Plex Serif'&display=swap");

.center-nav {
    display: flex;
    flex-direction: row;
    background-color: rgb(216, 211, 211);
}

.user-icon {
    width: 40px;
}

.center-nav-right{
    margin-left: auto;
}

.add-expense-button{
    background-color:rgb(255, 98, 0);
    border-radius: 8%;
    padding: 8px;
}

.expense-form-text{
    color: whitesmoke;
}