@import url( href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family='Helvetica Neue'&display=swap");

// navbar

.session-nav-elements {
  display: flex;
  flex-direction: row;
}


.session-nav-logo {
  width:40px; 
  margin-right: 3px;
  margin-top: 10px;
}

.session-word-logo {
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 10px;
}

.right-session-nav {
  position: relative;
  margin-left: auto;
}


.session-login-button {
  background-color: transparent;
  border: none;
  color: rgb(9, 181, 135);
  font-size: 14px;
  font-weight: 400;
  height: 35px;
  margin-top: 10px;
  width: 95px;

}
.session-signup-button{
  background-color:  rgb(9, 181, 135);
  border-radius: 5px;
  color: white;
  font-family: 'Helvetica Neue';
  font-size: 14px;
  font-weight: 400;
  height: 35px;
  margin-top: 10px;
  width: 95px;
}

//------------------------------------------------------------
// body
.session-section {
  margin: auto;
  display: flex;
  justify-content: center;
  // border: 1px solid blue;
  margin-top: 40px;
  background: url(background_img.png);
}

// .session-left {
//   // border: 1px solid blue;
//   width: 470px;
//   display: flex;
//   justify-content: flex-end;
//   // flex-direction: column;
//   // padding: 60px;
//   align-items: flex-start;
// }


// .session-section-logo {
//   background-image: ;
//   width: 230px;
// }

.session-section-container {
  // border: 1px solid red;
  width: 470px;
  // height: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  margin-left: 3px;
}

.session-welcome {
  text-transform: uppercase;
  font-family: 'Helvetica Neue';
  font-size: 16px;
  color: #999999;
  font-weight: 550;
}

.session-form span {
  color: #333333;
  font-family: 'Helvetica Neue';
  font-size: 18px;
}

.session-input, .with-name-input {
  margin-top: 8px;
  margin-bottom: 17px;
  border-color: 0.5px solid lightgrey ;
  width: 270px;
  height: 30px;
  color: #333333;
  font-family: 'Helvetica Neue';
  font-size: 18px;
}

.no-name-input {
  visibility: hidden;
}

.session-submit {
   cursor: pointer;
   height: 45px;
   width: 98px;
   background-color:  rgb(7, 149, 7);
   font-family: 'Helvetica Neue';
   font-weight: 400;
   font-size: 15px;
   color: white;
   border: 2px;
   border-radius: 5px;
  //  box-shadow: 0 4px 2px -2px gray
  // box-shadow:  inset 2px 2px 3px grey ;
  //  padding: 8px 12px;
  box-shadow:  0px 2px 5px rgba(0,0,0,.3);
  margin-top: 10px; 
  margin-bottom: 10px; 
 }

 .session-submit:hover {
  background-color: #f84808;
 }

 .demo-user-button {
   cursor: pointer;
   height: 35px;
   width: 98px;
   background-color:  #393c3f;
   font-family: 'Helvetica Neue';
   font-weight: 400;
   font-size: 15px;
   color: white;
   border: 2px;
   border-radius: 5px;
  //  box-shadow: 0 4px 2px -2px gray
  // box-shadow:  inset 2px 2px 3px grey ;
  //  padding: 8px 12px;
  box-shadow:  0px 2px 5px rgba(0,0,0,.3);
  margin-top: 10px; 
  margin-bottom: 10px; 
 }

 .demo-user-button:hover {
  background-color: lightgray;
 }

 .show-login-error {
  // margin-top: 12px;
  background:#cc4455;
  color: #ffffff;
  padding: 5px;
  font-size: 14px;
  font-family: 'Helvetica Neue';
  width: 941px;
  display: flex;
  margin: auto;
  border-bottom-left-radius: 3.5px;
  border-bottom-right-radius: 3.5px;
  justify-content: center;
  align-items: center;
  height: 28px;
}

// .login-errors-list {
// }

.dont-show-login-error {
  visibility: hidden;
}