@import url( href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family='Helvetica Neue'&display=swap");

.signup-body {
  max-width: 941px;
  margin: auto;
  display: flex;
  // border: 1px solid blue;
  margin-top: 80px;
}

.signup-body-left {
  // border: 1px solid blue;
  width: 470px;
  display: flex;
  justify-content: flex-end;
  // flex-direction: column;
  // padding: 60px;
  align-items: flex-start;
}

.signup-body-left-logo {
  border: 0;
  margin-right: 25px;
  padding: 0;
  vertical-align: middle;
  width: 200px;
  // aspect-ratio: auto 200 / 200;
}

.signup-body-right {
  // border: 1px solid red;
  width: 470px;
  // height: 600px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 20px;
  margin-left: 3px;
}

.signup-body-right-header {
  color: #999;
  display: block;
  font-family: 'Helvetica Neue';
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
}


 .session-submit:hover {
  background-color: #f84808;
 }

 .visible-input {
  margin-top: 8px;
  margin-bottom: 17px;
  border-color: 0.5px solid lightgrey ;
  width: 319px;
  height: 35px;
  margin-bottom: 15px; 
  color: #2f2d2d;
  font-family: 'Helvetica Neue';
  font-size: 18px;
}
.invisible-input, .invisible-error {
  visibility: hidden;
}

.signup-hithere {
  color: #2f2d2d;
  font-family: 'Helvetica Neue';
  font-size: 24px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.signup-username {
  border-color: 0.5px solid lightgrey ;
  color: #2f2d2d;
  font-family: 'Helvetica Neue';
  font-size: 24px;
  height: 35px;
  margin-bottom: 15px;
  margin-top: 10px;
  width: 319px;
}

#password_input {
  margin-bottom: 15px;
  // margin-top: 10px;
}

span.visible-input {
  color: #2f2d2d;
  font-size: 18px;
  font-family: 'Helvetica Neue';
  margin-bottom: 15px;
  margin-top: 10px;
}

.signup-submit {
  background-color:  #FF652F;
  font-size: 24px;
  border: 2px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-family: 'Helvetica Neue';
  height: 56px;
  padding: 11px 15px;
  width: 155px;
   //  box-shadow: 0 4px 2px -2px gray
  // box-shadow:  inset 2px 2px 3px grey ;
  //  padding: 8px 12px;
   
 }

 .signup-submit:hover{
   cursor: pointer;
   background-color: #f84808;
 }

.signup-agreement {
  font-size: 12px;
}

.visible-error {
  color: orangered;
  font-size: 15px;
  font-family: 'Helvetica Neue';
  margin: 10px;
  padding: 10px;
}

#errors-list {
  padding-top: 5px;
  padding-left: 15px;
}